%% -*- mode: erlang; erlang-indent-level: 2; indent-tabs-mode: nil -*-
{deps_dir,            ["deps"]}.
{erl_opts,            [debug_info]}.
{deps,                [{elx, ".*", {git, "git://github.com/tjarvstrand/elx.git", {branch, "master"}}}]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{xref_checks,         [undefined_function_calls]}.
